{% extends "base/base.html" %}

{% block content %}
<article>
    {% include "./post.html" with post=post only %}
</article>

<article>
{% if post.comments.count %}
    <div id="comments" class="comments">
    {% for comment in post.comments.all %}
        <div class="comment">
            <span class="comment-author-name">
            {% if comment.username %}
                {{ comment.username }}
            {% else %}
                {{ comment.author.username }}
            {% endif %}
            </span>

            <time class="date">{{ comment.created_at | date }}</time>

            {{ comment.html | safe }}
        </div>
    {% endfor %}
    </div>
{% endif %}

    <form action="" method="post">
        {% csrf_token %}

    {% if not user.is_authenticated %}
        <p><input type="text" name="username" placeholder="your name" required/></p>
    {% endif %}

        <p><textarea class="comment-text-input" name="text" placeholder="your comment" required></textarea></p>
        <p><input type="submit" value="Create comment"/></p>
    </form>
</article>

{% load static %}
<script type="text/javascript" src="{% static "posts/comments.js" %}"></script>

{% endblock %}
